@CHARSET "UTF-8";
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width:8px;
    height:8px;
    background:#e4e4e4;
}   
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
	border-radius:10px;
	background-color:#0ae;
	background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);  
}
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
	font-family:"Microsoft Yahei";
	font-size:14px;
	background:url("../images/youku-bg.jpg");
}
@font-face {
	font-family: caoti; /*这里是说明调用来的字体名字*/
	src: url("font/caoti.ttf"); /*这里是字体文件路径*/
}

.item{
    width:160px;
    height:100px;
    margin:15px 1%;
    background:#0588d1;
    border:1px solid #ccc;
    float:left;
    text-align:center;
    transition:1s;
}
.item a{
    color:#fff;
    font-weight:bold;
    ont-size:16px;
    display:inline-block;
    width:100%;
    height:100%;
    line-height:105px;
}
.item:hover{
    border-radius:30%;
}
.item:hover a{
    text-decoration:none;
}




