@CHARSET "UTF-8";
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width:8px;
    height:8px;
    background:#e4e4e4;
}   
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
	border-radius:10px;
	background-color:#0ae;
	background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);  
}
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
	font-family:"Microsoft Yahei";
	font-size:14px;
	background:url("../images/youku-bg.jpg");
}
@font-face {
	font-family: caoti; /*这里是说明调用来的字体名字*/
	src: url("font/caoti.ttf"); /*这里是字体文件路径*/
}

.title{
    text-align: center;
    padding: 25px 0px;
    font-size: 23px;
}

.clearfix::after{
    content:"";
    display:block;
    height:0;
    clear:both;
}
.container{
    border: 0px solid #ccc;
    margin: 1px auto;
    width: 1200px;
    border-radius: 5px;
}
.container .buttonPage .button{
    float: left;
    width: 120px;
    height: 40px;
    background: #0588d1;
    color: #fff;
    line-height: 40px;
    margin: 0px 10px;
    text-align: center;
    cursor:pointer;
}

.categoryShowPage{
    padding:20px 0px;
}
.categoryShowPage .category{
    height:30px;
    color:#333;
    line-height:30px;
    font-weight:bold;
    border-bottom: 1px #fff solid;
}
.categoryShowPage .category span{
    padding:0px 20px;
}
.categoryShowPage .category span.delete{
    cursor:pointer;
}
.categoryShowPage .category-0{
    background: #0588d1;
}
.categoryShowPage .category-1{
    background: #EE7E80;
    padding-left: 10px;
}
.categoryShowPage .category-2{
    background: #FDCE5F;
    padding-left: 20px;
}
.categoryShowPage .category-3{
    background: #7DC3ED;
    padding-left: 30px;
}
.categoryShowPage .category-4{
    background: #80639B;
    padding-left: 40px;
}


